<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>BSc in Advanced Computing</h1>
            <span>Islington College</span>
            <span><address>Kamalpokhari, Kathmandu</address><time>2015 to 2018</time></span>
        </header>
        <p>
            <em>Completed the Bachelor degree on Islington College affiliated to London Metropolitian University.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Secondary Level Education</h1>
            <span>Kathmandu Model College</span>
            <span><address>Bagbazar, Kathmandu</address><time>2013 to 2014</time></span>
        </header>
        <p>
            <em>Completed the secondary level education with remarkable marks.</em>
        </p>
    </article>
</section>
