<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Android Developer</h1>
            <span><address>Sunbi Technologies</address><time>2016 to Present</time></span>
        </header>
        <p>Developed API driven application to meet the client requirements. </p>
    </article>
    <article>
        <header>
            <h1>Back-End Developer</h1>
            <span><address>SmartMobe Solution Pvt Limited</address><time>2016 to 2016</time></span>
        </header>
        <p> Developed Web based application using Angular and Laravel.
            </p>
    </article>
    <article>
        <header>
            <h1>Intern as Back-End Developer</h1>
            <span><address>UniHub Private Limited</address><time>2015 to 2016</time></span>
        </header>
        <p>
          Learned and completed intern period with bug fixing on older projects.</p>
    </article>

    <article>
        <header>
            <h1>Graphics Designer</h1>
            <span><address>Bandhu Photo Studio</address><time>2014 to 2015</time></span>
        </header>
        <p> 
	Performed as Graphics and Photo editor during this period.
        </p>
    </article>
</section>
