<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">

		<h5>
			<i class="fa fa-play"></i>&nbsp;&nbsp;<strong><a href="https://play.google.com/store/apps/details?id=com.thesunbi.lekhankunja&hl=en">Lekhan Kunja</a></strong>
			- Offical Android Application of Ghost Writing Nepal
		</h5>

		<h5>
			<i class="fa fa-play"></i>&nbsp;&nbsp;<strong><a href="https://play.google.com/store/apps/details?id=com.thesunbi.emall">Emall International</a></strong>
			- Official Ecommerce Application for Emall Nepal
		</h5>
    	<h5>
			<i class="fa fa-play"></i>&nbsp;&nbsp;<strong><a href="https://play.google.com/store/apps/details?id=com.thesunbi.boomerang">Boomerang</a></strong>
			- Application for the student studying in foreign country
		</h5>
		<h5>
			<i class="fa fa-play"></i>&nbsp;&nbsp;<strong><a href="https://github.com/blacpythoz/isliroutine">IsliRoutine</a></strong>
			- Unofficial Islington College Routine Application
		</h5>
		<h5>
			<i class="fa fa-play"></i>&nbsp;&nbsp;<strong><a href="#">Nepalese in Oman</a></strong>
			- Official Android Application for Nepalese Embassy in Oman
		</h5>
		<h5>
			<i class="fa fa-play"></i>&nbsp;&nbsp;<strong><a href="https://play.google.com/store/apps/details?id=com.thesunbi.totalfitness">Total Fitness Gym</a></strong>
			- Android application for total fitness gym in nepal
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/blacpythoz/musik-player">Musik</a></strong>
			- Simple music player application for Android
		</h5>


    </div>
  </div>
</div>
</section>
